#  Selections

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Data/Iris_mini.csv")
df

  Id   SL   SW   PL   PW          Species
0  A  5.1  3.5  1.4  0.2      Iris-setosa
1  B  4.9  3.0  1.4  0.2      Iris-setosa
2  C  7.0  3.2  4.7  1.4  Iris-versicolor
3  D  6.4  3.2  4.5  1.5  Iris-versicolor
4  E  6.3  3.3  6.0  2.5   Iris-virginica
5  F  5.8  2.7  5.1  1.9   Iris-virginica

In [3]:
df.set_index("Id",inplace=True)

In [4]:
df

     SL   SW   PL   PW          Species
Id
A   5.1  3.5  1.4  0.2      Iris-setosa
B   4.9  3.0  1.4  0.2      Iris-setosa
C   7.0  3.2  4.7  1.4  Iris-versicolor
D   6.4  3.2  4.5  1.5  Iris-versicolor
E   6.3  3.3  6.0  2.5   Iris-virginica
F   5.8  2.7  5.1  1.9   Iris-virginica

#####  Select columns

In [5]:
df['SL']

Id
A    5.1
B    4.9
C    7.0
D    6.4
E    6.3
F    5.8
Name: SL, dtype: float64

In [6]:
type(df['SL'])

pandas.core.series.Series

#### Optional

In [7]:
df.SL #Works but should be avoided

Id
A    5.1
B    4.9
C    7.0
D    6.4
E    6.3
F    5.8
Name: SL, dtype: float64

In [8]:
#create dummpy dataframe with edge cases
df2 = df.copy()
df2['S L'] = df2['SL']
df2['shape'] =df2['SL']
df2['copy'] =df2['SL']

In [9]:
# df2.S L #cant work because of space

In [10]:
df2.shape

(6, 8)

In [11]:
df.copy

<bound method NDFrame.copy of      SL   SW   PL   PW          Species
Id
A   5.1  3.5  1.4  0.2      Iris-setosa
B   4.9  3.0  1.4  0.2      Iris-setosa
C   7.0  3.2  4.7  1.4  Iris-versicolor
D   6.4  3.2  4.5  1.5  Iris-versicolor
E   6.3  3.3  6.0  2.5   Iris-virginica
F   5.8  2.7  5.1  1.9   Iris-virginica>

---

## Selecting multiple Columns

In [12]:
df

     SL   SW   PL   PW          Species
Id
A   5.1  3.5  1.4  0.2      Iris-setosa
B   4.9  3.0  1.4  0.2      Iris-setosa
C   7.0  3.2  4.7  1.4  Iris-versicolor
D   6.4  3.2  4.5  1.5  Iris-versicolor
E   6.3  3.3  6.0  2.5   Iris-virginica
F   5.8  2.7  5.1  1.9   Iris-virginica

In [13]:
cols = ['SL', 'SW'] #list of columns

In [14]:
df[cols]

     SL   SW
Id
A   5.1  3.5
B   4.9  3.0
C   7.0  3.2
D   6.4  3.2
E   6.3  3.3
F   5.8  2.7

In [15]:
df[['SL', 'SW']] # direct

     SL   SW
Id
A   5.1  3.5
B   4.9  3.0
C   7.0  3.2
D   6.4  3.2
E   6.3  3.3
F   5.8  2.7

####  Creating and dropping Column

In [16]:
df['SL2'] = df['SL']
df

     SL   SW   PL   PW          Species  SL2
Id
A   5.1  3.5  1.4  0.2      Iris-setosa  5.1
B   4.9  3.0  1.4  0.2      Iris-setosa  4.9
C   7.0  3.2  4.7  1.4  Iris-versicolor  7.0
D   6.4  3.2  4.5  1.5  Iris-versicolor  6.4
E   6.3  3.3  6.0  2.5   Iris-virginica  6.3
F   5.8  2.7  5.1  1.9   Iris-virginica  5.8

In [17]:
df['SPL'] = df['SL']/df['PL'] #ratio of lengths
df['SPW'] = df['SW']/df['PW']#ratio of widths
df

     SL   SW   PL   PW          Species  SL2       SPL        SPW
Id
A   5.1  3.5  1.4  0.2      Iris-setosa  5.1  3.642857  17.500000
B   4.9  3.0  1.4  0.2      Iris-setosa  4.9  3.500000  15.000000
C   7.0  3.2  4.7  1.4  Iris-versicolor  7.0  1.489362   2.285714
D   6.4  3.2  4.5  1.5  Iris-versicolor  6.4  1.422222   2.133333
E   6.3  3.3  6.0  2.5   Iris-virginica  6.3  1.050000   1.320000
F   5.8  2.7  5.1  1.9   Iris-virginica  5.8  1.137255   1.421053

In [18]:
# df.drop('SL2') #KeyError: "['SL2'] not found in axis"

In [19]:
df.shape #axis 0 has 6, and axis 1 has 8
# axis = 0 = row
#axis = 1 = col

(6, 8)

In [20]:
df.drop('SL2',axis=1,inplace=True)
df

     SL   SW   PL   PW          Species       SPL        SPW
Id
A   5.1  3.5  1.4  0.2      Iris-setosa  3.642857  17.500000
B   4.9  3.0  1.4  0.2      Iris-setosa  3.500000  15.000000
C   7.0  3.2  4.7  1.4  Iris-versicolor  1.489362   2.285714
D   6.4  3.2  4.5  1.5  Iris-versicolor  1.422222   2.133333
E   6.3  3.3  6.0  2.5   Iris-virginica  1.050000   1.320000
F   5.8  2.7  5.1  1.9   Iris-virginica  1.137255   1.421053

In [21]:
df.drop(['SPL','SPW'],axis=1,inplace=True) #drop multiple columns
df

     SL   SW   PL   PW          Species
Id
A   5.1  3.5  1.4  0.2      Iris-setosa
B   4.9  3.0  1.4  0.2      Iris-setosa
C   7.0  3.2  4.7  1.4  Iris-versicolor
D   6.4  3.2  4.5  1.5  Iris-versicolor
E   6.3  3.3  6.0  2.5   Iris-virginica
F   5.8  2.7  5.1  1.9   Iris-virginica

## Rows

###  Selecting rows

In [22]:
df.loc['A']

SL                 5.1
SW                 3.5
PL                 1.4
PW                 0.2
Species    Iris-setosa
Name: A, dtype: object

In [23]:
type(df.loc['A']) #Each Row and Each Column is Series

pandas.core.series.Series

In [24]:
df.iloc[0]

SL                 5.1
SW                 3.5
PL                 1.4
PW                 0.2
Species    Iris-setosa
Name: A, dtype: object

#### Drop Rows

In [25]:
df.drop('F',inplace=True)
df

     SL   SW   PL   PW          Species
Id
A   5.1  3.5  1.4  0.2      Iris-setosa
B   4.9  3.0  1.4  0.2      Iris-setosa
C   7.0  3.2  4.7  1.4  Iris-versicolor
D   6.4  3.2  4.5  1.5  Iris-versicolor
E   6.3  3.3  6.0  2.5   Iris-virginica

#### Select Cell

In [26]:
df.loc['E','PW'] #[row, col]

2.5

#### Select subset

In [27]:
rows = ['D','E']
cols = ['SL','PW']
df.loc[rows,cols] #[row, col]

     SL   PW
Id
D   6.4  1.5
E   6.3  2.5

In [28]:
df.loc[['D','E'],['SL','PW']] #merged

     SL   PW
Id
D   6.4  1.5
E   6.3  2.5