# Dataframes / Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
data_height = [4,5,6]
data_height

[4, 5, 6]

In [3]:
pd.Series(data_height)

0    4
1    5
2    6
dtype: int64

In [4]:
index_height  = ['a','b','c']

In [5]:
pd.Series(data=data_height, index=index_height)

a    4
b    5
c    6
dtype: int64

In [6]:
data_np=np.array(data_height)
pd.Series(data_np,index_height)

a    4
b    5
c    6
dtype: int32

In [7]:
data_DH = {
    'a':4,
    'b':5,
    'd':7
}
data_DH

{'a': 4, 'b': 5, 'd': 7}

In [8]:
pd.Series(data_DH, index=index_height)

a    4.0
b    5.0
c    NaN
dtype: float64

In [9]:
data_LWH= [
    [10,20],
    [30,40],
    [50,60]
]

In [10]:
pd.DataFrame(data_LWH)

    0   1
0  10  20
1  30  40
2  50  60

In [11]:
pd.DataFrame(data_LWH,
            index=['a','b','c'])

    0   1
a  10  20
b  30  40
c  50  60

In [12]:
pd.DataFrame(data_LWH,
            index=['a','b','c'],
            columns=['W','H'])

    W   H
a  10  20
b  30  40
c  50  60

In [13]:
pd.DataFrame(np.array(data_LWH),
            index=['a','b','c'],
            columns=['W','H'])

    W   H
a  10  20
b  30  40
c  50  60

# ATTENTION

In [14]:
data_DH

{'a': 4, 'b': 5, 'd': 7}

In [15]:
pd.DataFrame(data_DH, index=[1])

   a  b  d
1  4  5  7

In [16]:
flowers = {
    'petal_length' : [5,5.6,4.4],
    'petal_width' : [4,4,3],
    'setal_width' : [2,1,2],
    'setal_length' : [2,3,5],  
}

In [17]:
df = pd.DataFrame(flowers)
df

   petal_length  petal_width  setal_width  setal_length
0           5.0            4            2             2
1           5.6            4            1             3
2           4.4            3            2             5

In [18]:
df.values

array([[5. , 4. , 2. , 2. ],
       [5.6, 4. , 1. , 3. ],
       [4.4, 3. , 2. , 5. ]])

In [19]:
df.shape

(3, 4)

In [20]:
df.min()

petal_length    4.4
petal_width     3.0
setal_width     1.0
setal_length    2.0
dtype: float64

In [23]:
df.size

12